<!-- Start: Navbar -->

<div class="container-fluid" style="position: absolute; margin: 0; padding: 0;">
  <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-to navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://wellyington.github.io/">wellyington.<span style="color:#ff6b6b;">github</span>.io</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://wellyington.github.io/#aboutme" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" onclick='document.getElementById("aboutme").scrollIntoView()'><i class="fas fa-user-tie"></i> ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wellyington.github.io/#projects" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" onclick='document.getElementById("projects").scrollIntoView()'><i class="fas fa-layer-group"></i> PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wellyington.github.io/#prototypes" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" onclick='document.getElementById("prototypes").scrollIntoView()'><i class="fas fa-code"></i> PROTOTYPES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wellyington.github.io/#contactme" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" onclick='document.getElementById("contactme").scrollIntoView()'><i class="fas fa-address-card"></i> CONTACT ME</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
</div>

<!-- End: Navbar -->